# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

# npm
.npmrc