.sectIcon {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.widthSectIcon {
    width: 40px;
    height: 40px;
}

.sectIcon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent);
    opacity: .15;
}

.sectIcon > * {
    z-index: 1;
}

@media (min-width: 768px) {
    .widthSectIcon {
        width: 52.79px;
        height: 52.79px;
    }
}