.grid {
    grid-template-rows: 1fr auto;
}

.form {
    max-width: 430px;
}

.links button.shadow-sm {
    box-shadow: none;
}

.btnWhite {
    color: #000000;
}

.btnGray {
    color: #717171;
}

.copyRight {
    align-items: flex-end;
    color: #000000;
    font-size: 14px;
    margin-bottom: calc(var(--spacing)*4);
}