@import "tailwindcss";

.w-50 {
    width: 50%;
}

.m-0 {
    margin: 0;
}

@media (min-width: 768px) {
    .info {
        max-width: 628px;
        margin-bottom: 30px;
    }
}

.amplify-liveness-hint,
.amplify-liveness-recording-icon-container {
    margin-top: -24px !important;
}

.amplify-liveness-camera-module {
    border: 1px solid white !important;
}

:root {
    --amplify-space-xl: 0rem !important;
}