.card {
    min-height: 590px;
    max-width: 1068px;
}

.info {
    max-width: 700px;
    width: 100%;
}

.cardDoc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--color-primary);
}

.upload {
    padding: 15px;
}

.upload, .upload * {
    cursor: pointer;
}

.cardDoc>div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon {
    max-width: 125px;
}

@media (min-width: 768px) {
    .card {
        min-height: 461px;
    }
}