.info {
    max-width: 370px;
    width: 100%;
}

.card {
    min-height: 590px;
    max-width: 1068px;
}

.cardDoc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--color-primary);
    min-height: 165px;
}